parameters:
  excludes_analyse:
    - %rootDir%/../../../test/fixture/*
    - %rootDir%/../../../vendor/*
    - %rootDir%/../../../kahlan-config.php

  ignoreErrors:
    - /^Function describe not found.$/
    - /^Function expect not found.$/
    - /^Function it not found.$/
