includes:
  - phony.neon
parameters:
  level: max
  paths: [src, test/src, test/suite]
  inferPrivatePropertyTypeFromConstructor: true
  ignoreErrors:
    - message: /^Function describe not found\.$/
      paths: [test/*]
    - message: /^Function expect not found\.$/
      paths: [test/*]
    - message: /^Function it not found\.$/
      paths: [test/*]
