includes:
  - phony.neon
parameters:
  level: max
  paths: [src, test/src, test/suite]
  ignoreErrors:
    - /^Function describe not found.$/
    - /^Function expect not found.$/
    - /^Function it not found.$/
