includes:
  - common.neon

services:
  -
    class: Eloquent\Phpstan\Phony\Type\Kahlan\MockReturnType
    tags:
      - phpstan.broker.dynamicFunctionReturnTypeExtension
      - phpstan.broker.dynamicStaticMethodReturnTypeExtension
