includes:
  - common.neon

services:
  -
    class: Eloquent\Phpstan\Phony\Type\Phpunit\MockReturnType
    tags:
      - phpstan.broker.dynamicFunctionReturnTypeExtension
      - phpstan.broker.dynamicStaticMethodReturnTypeExtension
  -
    class: Eloquent\Phpstan\Phony\Type\Phpunit\MockBuilderReturnType
    tags:
      - phpstan.broker.dynamicFunctionReturnTypeExtension
      - phpstan.broker.dynamicStaticMethodReturnTypeExtension
