includes:
  - common.neon

services:
  -
    class: Eloquent\Phpstan\Phony\Type\Standalone\MockReturnType
    tags:
      - phpstan.broker.dynamicFunctionReturnTypeExtension
      - phpstan.broker.dynamicStaticMethodReturnTypeExtension
  -
    class: Eloquent\Phpstan\Phony\Type\Standalone\MockBuilderReturnType
    tags:
      - phpstan.broker.dynamicFunctionReturnTypeExtension
      - phpstan.broker.dynamicStaticMethodReturnTypeExtension
